@media screen and (max-width: 960px) {
  .game {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }
}
